@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AR One Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
}

/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(191, 224, 212, 0.934);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #943b6f;
    transition: 0.3s ease-in;

}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(237, 12, 199);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(237, 12, 199);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url(images/bag-15841_1920.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 20px;
    color: #222;
}

#hero h1 {
    color: aqua;
    font-size: 50px;
    line-height: 64px;

}
#hero button{
    background-image: url(images/button.png);
    background-color: transparent;
    font-size: 15px;
    color: brown;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}